@font-face {
    font-family: 'roboto';
    font-style: normal;
    src: url('./assets/fonts/roboto/RobotoCondensed-Regular.svg') format('svg'), /* Super Modern Browsers */
        //  url('./assets/fonts/RobotoCondensed-Regular.woff') format('woff'), /* Modern Browsers */
        //  url('./assets/fonts/RobotoCondensed-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        //  url('./assets/fonts/RobotoCondensed-Regular.woff2') format('woff2'); /* Legacy iOS */
}
@font-face {
    font-family: 'open_san';
    font-style: normal;
    src: url('.assets/fonts/open-sans/OpenSans-Light.svg') format('svg'), /* Super Modern Browsers */
         url('./assets/fonts/open-sans/OpenSans-Light.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/open-sans/OpenSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/open-sans/OpenSans-Light.woff2') format('woff2'); /* Legacy iOS */
}