@mixin  setImage ($object,$height) {
    width: 100%;
    height: $height;
    object-fit: $object;
}
@mixin flexbox($display,$justify-content,$direction,$wrap,$align){
    display: $display;
    justify-content: $justify-content;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
}
@mixin animation($speed,$style){
    @if($speed=="slow"){
        transition:400ms ease-in-out;
    }@else if($speed=="fast"){
        transition:300ms ease-in-out;
    }
    @else if($speed=="superfast"){
        transition:200ms ease-in-out;
    }@else{
        transition: $speed $style;
    }
}
@mixin font($font){
    @if($font=="body"){
        font-family:"roboto";
    }@else{
        font-family:"open_san";
    }
}